---
import Layout from "../layouts/Layout.astro";
import PaymentInfo from "../components/payments/payment-info.astro";
import ShippingSection from "../components/ReactComponents/ShippingSection";

const { searchParams } = Astro.url;
const paymentId = searchParams.get("payment_id");
const status = searchParams.get("status");
const merchantOrderId = searchParams.get("merchant_order_id");

if (!paymentId || !status || !merchantOrderId) {
  return new Response(null, {
    status: 302,
    headers: { Location: "/failure" },
  });
}
---

<Layout title="Payment Successful">
  <main class="container">
    <h1 class="title">Pago exitoso</h1>
    <div class="card">
      <PaymentInfo
        paymentId={paymentId}
        status={status}
        merchantOrderId={merchantOrderId}
      />

      <ShippingSection
        client:load
        paymentId={paymentId}
        merchantOrderId={merchantOrderId}
      />
    </div>
  </main>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #16a34a;
    margin-bottom: 1.5rem;
  }

  .card {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
  }
</style>
