---
import Layout from "../../layouts/Layout.astro";
import { getPackageData } from "../../utils/package";
import PackageHeader from "../../components/package-details/package-header.astro";
import PackageDescription from "../../components/package-details/package-description.astro";
import PaymentOptions from "../../components/package-details/payment-options";
import GuaranteeBox from "../../components/package-details/guarantee-box.astro";
import OrderSummary from "../../components/package-details/order-summary.astro";
import NotFound from "../../components/not-found.astro";

const { sku } = Astro.params;
let packageData = null;

try {
  packageData = await getPackageData(sku);
  console.log(packageData);
} catch (error: unknown) {
  if (error instanceof Error) {
    if (error.message === "El paquete no existe.") {
      console.warn(`Paquete con SKU ${sku} no encontrado.`);
      Astro.response.status = 404;
    } else if (error.message === "El paquete no tiene stock disponible.") {
      console.warn(`Paquete con SKU ${sku} sin stock.`);
      Astro.response.status = 404;
    } else {
      console.error("Error inesperado:", error);
      Astro.response.status = 500;
    }
  }
}
---

{
  packageData ? (
    <Layout>
      <div class="package-container">
        <div class="package-detail">
          <PackageHeader
            title={packageData.title}
            price={packageData.price}
            originalPrice={packageData.originalPrice}
            savings={packageData.savings}
          />
          <PackageDescription description={packageData.description} />
          <PaymentOptions
            client:load
            basePrice={packageData.price}
            title={packageData.title}
            packageId={sku}
          />
          <GuaranteeBox />
        </div>
        <OrderSummary title={packageData.title} price={packageData.price} />
      </div>
    </Layout>
  ) : (
    <Layout>
      <NotFound client:load />
    </Layout>
  )
}
<style>
  html {
    font-size: 14px;
    color: #333;
  }
  .package-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  @media (max-width: 768px) {
    .package-container {
      grid-template-columns: 1fr;
    }
  }
  .package-detail {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }
</style>
